# 直接指定驱动，不依赖内置脚本
adapter driver cmsis-dap

# 指定使用 SWD 模式
transport select swd

# 如果是正点原子的下载器，有时需要指定 VID/PID (可选，先不加，不行再加)
# cmsis_dap_vid_pid 0x2e3c 0xaf01

# 降低速度测试稳定性（先用 2000，通了再加到 10000）
adapter speed 10000

# 目标芯片配置
source [find target/stm32f4x.cfg]

# 如果板子没有引出硬件复位线 (Reset脚)，必须加这一行
reset_config none